<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>User</title>
</head>
<body>
  <h1>Users</h1>
  <div class="user-list">
    <% users.forEach(user => { %>
      <div>
       <p>Nome completo: <%= user.firstName %> <%= user.lastName %> </p>
       <p>Email: <%= user.email %> </p>
       <p>Idade: <%= user.age %> </p>
      </div>
     <% }) %>
  </div>
</body>
</html>